# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C# build
bin/
obj/

# Python test cache
.pytest_cache/

# Logs
logs/

# Models (we use submodule now!)
# models/

# Build folders (external builds)
# build/

# Submodules
# external/llama.cpp

# VSCode
.vscode/

# Environment
.env
.env.*

# System files
.DS_Store
Thumbs.db

# Bu satırın altına **EKLEME**
!publish_to_github.py
!run_publish.bat

/models/*.gguf
